.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  background-color: #b21f23;
  color: white;
  font-weight: 600;
  padding: 0.5rem;
  margin-bottom: 3rem;
}

.options{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 4rem;
}

.me{
  text-align: center;
}
.img{
  height: 50%;
  text-align: center;
  align-items: center;
}
#img{
  margin-right: 5rem;
  margin-left: 5rem;
  width: 25rem;
  height: 25rem;
}
#info{
  height: 50%;
  display: flex;
  text-align: center;
  align-items: center;
}


@media screen and (max-width: 1399px){
  #text-presentation{
  margin-right: 2rem;
  }
  #info{
    margin-top: 4rem;
    justify-content: space-between;

  }
  #img{
    margin-right: 5rem;
    margin-left: 5rem;
    width: 20rem;
    height: 20rem;
  }
  .me{
    margin-top: 10rem;
  }

}
@media screen and (min-width: 1400px){
  #text-presentation{
  margin-left: 15%;
  }
  #info{
    margin-top: 6rem;
    justify-content: center;
  }
  #img{
    margin-right: 5rem;
    margin-left: 5rem;
    width: 30rem;
    height: 30rem;
  }
  .me{
    margin-top: 13rem;
  }
  h2{
    font-size: 10rem !important;
  }
  h3{
    font-size: 3rem !important;
  }
}
#text-presentation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
