
<mat-toolbar class="toolbar">
  <div class="options">
   <a href="#"><h4>Mirlla</h4></a>
    <a href="#front"><h4>Experiences</h4></a>
    <a href="#skills"><h4>Skills</h4></a>
    <a href="#contact"><h4>Contact me</h4></a>
  </div>

</mat-toolbar>


<div class="me" id="me">
  <span id = "i-am"><h2>So...</h2></span>

  <div id="info">
    <div class="img">
      <a href="#find-me">
        <img src="/assets/me.png" alt="Mirlla" id="img">
    </a>
    </div>

    <div id="text-presentation">
        <h3>Mirlla Marques Santana Alves</h3>
        <h3>Computer Science Student at Federal</h3>
        <h3>University of Campina Grande</h3>
    </div>
  </div>

</div>

<div id="front"></div>

<div class="exp">
  <h2 id="title">Frontend Mentor</h2>
  <div id="info">
    <div class="img">
      <a href="#find-me">
        <img src="/assets/perfil_mascara.png" alt="Mirlla" id="img">
    </a>
    </div>

    <div id="text-presentation">
        <h3>I was frontend mentor on PyLadies</h3>
        <h3>Paraíba's site, an <a href="https://andromedev.opendevufcg.org/">Andromedev</a></h3>
        <h3>project of <a href="https://opendevufcg.org">OpenDev UFCG</a></h3>
    </div>
  </div>

</div>

<div class="exp">
  <h2 id="title">Python Brasil 2020</h2>
  <div id="info">
    <div class="img">
      <a href="#find-me">
        <img src="/assets/Python Brasil 2020.PNG" alt="Mirlla" id="img" class="logo-pages">
    </a>
    </div>

    <div id="text-presentation">
      <h3>I was speaker in <a href="2020.pythonbrasil.org.br">Python Brasil 2020</a></h3>
      <h3>with the lecture "Human Learning:</h3>
      <h3>Por quê ensinar e aprender Python?"</h3>
    </div>
  </div>

</div>

<div id="skills"></div>

<div class="exp">
  <h2 id="title">Skills</h2>

  <div class="skill">
    <img src="assets/java.png" alt="" id="java">
    <img src="assets/spring.png" alt="" id="spring">
    <img src="assets/postgre.png" alt="" id="bd">
    <img src="assets/python.png" alt="" id="py">
    <img src="assets/typescript.png" alt="" id="ts">
    <img src="assets/angular.png" alt="" id="angular">

  </div>

  <div class="skm">
    <div class="html"><img src="assets/html.png" alt="" id="html"></div>
    <div><img src="assets/mirlla.png" alt="" class="sofa"></div>
    <div class="css"><img src="assets/css.png" alt="" id="css"></div>

  </div>

</div>
<div id="contact"></div>

<div id="exp" class="contact">
  <div id="find-me">
      <h6 id="find">Find me</h6>
      <h6 id="in">in</h6>
  </div>
  <div id="social-media">
      <a href="https://www.instagram.com/mirlla_marques/?hl=pt-br">
          <img src="/assets/instagram.svg" alt="instagram" id="logo">
      </a>
      <a href="https://github.com/mirllamarques">
          <img src="./assets/github.svg" alt="github" id="logo">
      </a>
      <a href="mailto:mirllamsa@gmail.com">
          <img src="/assets/gmail.svg" alt="email" id="logo">
      </a>
      <a href="https://www.linkedin.com/in/mirlla-marques/">
          <img src="/assets/linkedin.svg" alt="linkedin" id="logo">
      </a>

  </div>
</div>
