
<mat-toolbar class="toolbar">
  <div class="options">
    <h4>Mirlla</h4>
    <h4>Experiences</h4>
    <h4>Skills</h4>
    <h4>Contact me</h4>
  </div>

</mat-toolbar>


<div class="me">
  <span id = "i-am"><h2>So...</h2></span>

  <div id="info">
    <div class="img">
      <a href="#find-me">
        <img src="/assets/me.png" alt="Mirlla" id="img">
    </a>
    </div>

    <div id="text-presentation">
        <h3>Mirlla Marques Santana Alves</h3>
        <h3>Computer Science Student at Federal</h3>
        <h3>University of Campina Grande</h3>
    </div>
</div>

</div>
