@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
.animated{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInUp{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.animated.delay-1s{
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.animated.delay-2s{
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.typed-cursor{
  color: var(--details-color);
}
.typed-fade-out {
  color: #ca2e2b;
}